.table-product-admin {
  td {
    .ui.image {
      width: 100px;
      height: 100px;
    }

    &.status {
      .icon {
        &.close {
          color: #f00;
        }
        &.check {
          color: #008000;
        }
      }
    }
  }
}
