.select-table {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a72;
  background-image: url(https://images.adsttc.com/media/images/580f/fe3b/e58e/ce64/b800/00c0/original/GIF_p.gif?1477443126);
  
  padding: 0 20px;

  &__content {
    background-color: #00000080;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(244, 244, 244, 0.20);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #fff;
    
    > h1 {
      margin-bottom: 10px;
      font-size: 25px;
      color: rgb(255, 255, 255);
    }

    > h2 {
      color: rgb(255, 255, 255);
      margin: 0;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

  
    .ui.form {
      width: 100%;
      margin-top: 30px;
    }

    &-error {
      margin-top: 10px;
      color: #f00;
    }
  }
}
.buton{
  width: 31.5rem;
}